@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}
.seach-div {
    text-align: right;
}

.seach-div input {
    padding: 0.5rem;
    margin-bottom: 5px;
    font-size: 1rem;
}

.seach-div input:focus {
    outline-width: 2px;
    outline-color: #00b39f;
}

.notFound {
    padding: 1rem;
}

.notFound p {
    font-size: 1.1em;
}
.table-container {
    /* limit the height of the table container */
    max-height: 40em;
    overflow-x: auto;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}

.table-container_allusers {
 

    overflow-x: auto;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}

/* TABLE STYLES */
.board-table {
    /* overflow-x: auto; */
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    color: #666666;
    font-size: 1em;
    margin-bottom: 3em;
    min-width: max-content;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.board-table thead tr {
    position: sticky;
    top: 0em;
    background-color: #00b39f;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 1.125em;

}

.board-table th,
.board-table td {
    padding: 1em;
}

/* Every even row with different background */
.board-table tbody tr:nth-of-type(even) {
    /* background-color: #e6fbf7; */
    background-color: #e6fbf7;
}

/* last row with green bottom border */
.board-table tbody tr:last-of-type {
    border-bottom: .3em solid #00b39f;
}

/* For the medals */

.rank-container {
    display: flex;
    text-align: center;

}

.rank-container p {
    text-align: center;
    margin-left: 1.2em;
}

.rank-container img {
    width: 2.5em;
    height: 2.5em;
    margin-top: .4em;
    margin-left: 0em;
}

.table-container tbody tr {
    height: 3.5em;
    /* width: 100px; */

}

.table-container_allusers tbody tr {
    height: 3.5em;

}

.board-table tbody tr:first-of-type .rank-container .medal img {
    content: url("./medals/medal1a.png");
    margin-left: .75em;

}

.board-table tbody tr:nth-child(2) .rank-container .medal img {
    content: url("./medals/medal2a.png");
    margin-left: .75em;

}

.board-table tbody tr:nth-child(3) .rank-container .medal img {
    margin-left: .75em;
    content: url("./medals/medal3a.png");

}

/* Removes the numbers next to top three medals */
.board-table tbody tr:first-of-type .rank-container .rank-number p {
    display: none;

}

.board-table tbody tr:nth-child(2) .rank-container .rank-number p {
    display: none;

}

.board-table tbody tr:nth-child(3) .rank-container .rank-number p {
    display: none;

}


/* for every other rank element after the first 3 */
/* hides the image element since they don't have a medal */
.board-table tbody tr:nth-child(n+4) .rank-container .medal img {
    display: none;

}


.board-table td {
    text-align: center;
    padding: .5rem;
}

/* RANK STYLES */
.rank p {
    color: #444444;
    font-weight: bold;

}



/* USERNAME STYLES */
.username-container {
    display: flex;


}

.username-container .username a {
    text-decoration: none;
    color: #666666;

}

/* avatar */
.username-container img {

    border-radius: 50%;

}

/* username */
.username-container p {
    margin-top: .9em;
    padding-left: 1em;
}

/* Show more button styles */
.button {
    margin-bottom: 3em;
    width: 100%;
    text-align: center;
    align-items: center;

}

.button a {
    text-decoration: none;
    background-color: #00b39f;
    color: white;
    /* padding: 15px 25px; */
    padding: .8em 1.8em;
    border-radius: .25em;


}

.button a:hover {
    background-color: #00d3a9
}


/* For tablets */
@media (max-width: 850px) {

    .board-table {
        font-size: 1em;

    }

}

@media (max-width: 830px) {

    .board-table {
        font-size: 1em;

    }
    .table-container {
        /* limit the height of the table container */
        max-height: 40em;        
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5em;
    }
    /* removes the avatar of the users */
    .image-container{
        display: none;
    }
    .board-table thead tr th{
        width:100px;
        padding-left: 0px;
        padding-right: 0px;
    }

    
    
}
/* For mobile phones */
@media (max-width: 630px) {

    .board-table {
        font-size: .9375em;

    }
    
    /* hides the columns */
   
    td:nth-child(3),
    td:nth-child(4),td:nth-child(5) {
        display: none
    }
    
    /* hides the table headers */
    .likes{
        display: none;
        
    }
    
    
    .solutions{
        display: none;

    }
    .item-solutions{
        display: none;

    }
    .posts{
        display: none;

    }
    .item-posts{
        display: none;

    }

}

